
// p {
//     margin-top: 2rem;
//     margin-right: 10rem;
//     margin-bottom: 1rem; 
// }

// .hero-title {
//     // background-color: yellow;
// }

.hero-title {
    font-size: 1.5rem;
}
.hero-lead {
    background-color: rgba(173, 36, 36, 0);
    margin-top: 0rem;
    border: 0rem;
    font-size: 1.0rem;
}

.hero-lead p {
    background-color: rgb(255, 255, 255);
    margin-top: 0rem;
    margin-right: 2rem;
    border: 0rem;
    
}

.hero-media {
    margin-top: 7rem;
}

.hero-media img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: fill;
}

.section-heading p{
    text-align: left;
    margin-right: 0rem;
    // scroll-margin-right: 10rem;
}


