
p {
    margin-top: 2rem;
    margin-right: 10rem;
    margin-bottom: 1rem; 
}

// .hero-title {
//     // background-color: yellow;
// }

.hero-lead {
    background-color: rgba(173, 36, 36, 0);
    margin-top: 0rem;
    border: 0rem;
}

.hero-lead p {
    background-color: rgb(255, 255, 255);
    margin-top: 0rem;
    margin-right: 2rem;
    border: 0rem;
    font-size: 1.2rem;
}

.hero-media {
    margin-top: 10rem;
}

.section-heading p{
    text-align: center;
    margin-right: 0rem;
    // scroll-margin-right: 10rem;
}


